# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#My files
.idea
cmake-build-debug/
Hamming Distance/run
Hamming Distance/cmake-build-debug/
Hamming Distance/.idea/

Omega Statistic/.idea/
Omega Statistic/CMakeLists.txt
Omega Statistic/cmake-build-debug/
Omega Statistic/mpiR
Omega Statistic/sseRP
Omega Statistic/sseR
Omega Statistic/serialR
